[Unit]
Description=RClone Cache Service
AssertPathIsDirectory=/mnt/Media
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount MediaCachedCrypt: /mnt/Media \
   --allow-other \
   --dir-cache-time=160h \
   --cache-chunk-size=10M \
   --cache-info-age=168h \
   --cache-workers=5 \
   --buffer-size=500M \
   --attr-timeout=1s \
   --syslog \
   --umask 002 \
   --rc \
   --cache-tmp-upload-path /data/rclone_upload \
   --cache-tmp-wait-time 60m \
   --log-level INFO \
   --config /opt/kirios-secrets/rclone.conf

ExecStop=/usr/bin/sudo /usr/bin/fusermount -uz /gmedia
Restart=on-abort
User=ubuntu
Group=ubuntu

[Install]
WantedBy=default.target