# /etc/systemd/system/transmission.service

[Unit]
Description=Transmission Docker Compose Application Service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/kirios/applications/transmission
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
