[Unit]
Description=transmission container

[Service]
Restart=always

# Pull down the latest image version, remove old container if it exists, and create a transmission image instance.

ExecStartPre=/usr/bin/docker pull linuxserver/transmission
ExecStartPre=-/usr/bin/docker rm --force transmission_NAME

ExecStartPre=/usr/bin/docker create --restart=no  --name=transmission_NAME \
-v transmission_NAME_config:/config \
-v TRANSMISSION_FOLDER/downloads:/downloads \
-v TRANSMISSION_FOLDER/watch:/watch \
-e TZ=Europe/London \
-p PORT_WEB:9091 -p PORT_CONNECT:PORT_CONNECT \
-p PORT_CONNECT:PORT_CONNECT/udp \
linuxserver/transmission

ExecStart=/usr/bin/docker start --attach transmission_NAME
ExecStop=/usr/bin/docker stop --time 30 transmission_NAME

[Install]
WantedBy=multi-user.target
