[Unit]
Description=Filebot-series container

[Service]
Restart=always

# Pull down the latest image version, remove old container if it exists, and create a firefly image instance.

ExecStartPre=/usr/bin/docker pull rednoah/filebot:watcher
ExecStartPre=-/usr/bin/docker rm --volumes --force filebot_series
ExecStartPre=/usr/bin/docker create --restart=no --name=filebot_series \
-v /home/server/downloads/complete/tv_es:/input \
-v /mnt/storage/Media:/output \
-v /home/server/filebot/data:/data \
-e SETTLE_DOWN_TIME=300 \
-e "INOTIFYWAIT_OPTS=-e attrib" \
rednoah/filebot:watcher \
/input  \
--output /output \
--def ut_label=Series \
--def subtitles=es,en \
--def seriesFormat="TV/{n}/{episode.special ? 'Specials' : 'Season '+s.pad(2)}/{n} - {episode.special ? 'S00E'+special.pad(2) : s00e00} - {t.replaceAll(/[`´‘’ʻ]/, /'/).replaceAll(/[!?.]+$/).replacePart(', Part $1')}{'.'+lang}"

ExecStart=/usr/bin/docker start --attach filebot_series
ExecStop=/usr/bin/docker stop --time 30 filebot_series

[Install]
WantedBy=multi-user.target
