#!/usr/bin/env python3

# DESCRIPTION: sets the basic auth user and password
# DEPENDENCIES: ngnix

import argparse
import subprocess
import os
import json
import socket
import time
import re
from glob import glob
from itertools import islice
import datetime
import shutil

def runShellCommand(command):
     return subprocess.call(command, shell = True)

print("Setting Basic Auth user and password for nginx")
runShellCommand("rm /etc/nginx/.htpasswd")

username = input("Username: ")
runShellCommand("sh -c \"echo -n '" + username + ":' >> /etc/nginx/.htpasswd\"")
runShellCommand("sh -c \"openssl passwd -apr1 >> /etc/nginx/.htpasswd\"")

runShellCommand("service nginx reload")