#!/bin/bash
DOMAIN=$1

read -p "Are you sure? (y/N)" -n 1 -r
echo    # (optional) move to a new line
if [[ $REPLY =~ ^[Yy]$ ]]
then
    sudo rm /etc/nginx/sites-available/$DOMAIN
    sudo rm /etc/nginx/sites-enabled/$DOMAIN
    sudo nginx -t
    sudo systemctl restart nginx    
fi